/*
Place your custom CSS here
*/
.cookiebar-widget {
    position: fixed;
    left: 0px;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background: #ffffff;
    color: #222222;
    box-shadow: 0 -10px 15px 0 rgba(51, 51, 51, 0.15);
}

.cookiebar-widget .btn-wrapper > button {
    margin: 5px;
}

.cookiebar-widget .cookiebar-content {
    flex: 1 0 300px;
    padding: 15px;
}

.cookiebar-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}
